.header {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    /* background: #FFFFED; */
    /* border-bottom: 1px solid #e5e7eb; */
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 100;


}
 .page-container {
    max-width: 1300px;   
    margin: 0 auto;     
    padding: 0 24px;     
}
.page-bg {
    /* background: #FFFFED;    */
       box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    /* min-height: 100vh; */
}


.logo {
/* height: 50px; */
margin-right: 50px;
width: 100px;
}
 
/* Hamburger */

.hamburger {

    display: none;

    font-size: 22px;

    cursor: pointer;

}
 
/* Navigation */

.nav-list {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 ;

}
 
.nav-item {

    display: flex;

    align-items: center;

    gap: 6px;

    cursor: pointer;

    font-size: 14px;

    color: #6b7280;
padding-bottom: 6px;
padding-left: 20px;
padding-right: 20px;

}
 
.nav-item:hover {

   color: black;
    border-bottom: 2px solid #81a7a6;

}
 
.nav-item.active {
    color: #45A6A2;
    border-bottom: 2px solid #45A6A2;
}
 

.menu-icon.active {
    --sds-c-icon-color-foreground-default: #45A6A2; /* Active Blue */
}


@media (max-width: 768px) {
 
    .hamburger {

        display: block;

    }
 
    .nav {

        position: absolute;

        top: 56px;

        left: 0;

        width: 100%;

        background: #fff;

        border-top: 1px solid #e5e7eb;

        display: none;

    }
 
 
    .nav.open {

        display: block;

    }
 
    .nav-list {

        flex-direction: column;

        padding: 12px;

        gap: 16px;

    }
 
    .nav-item.active {

        border-bottom: none;
        background: #eff6ff;
        border-radius: 6px;

    }

}