:host {
    --section-bg: #ffffff;
    --section-border: #dddbda;
    --section-header-bg: #f3f2f2;
     --slds-c-button-brand-color-background: #45A6A2;
    --slds-c-button-brand-color-border: #45A6A2;
    --slds-c-button-brand-color-background-hover: #3e9692;
    --slds-c-button-brand-color-border-hover: #3e9692;
    --slds-c-button-brand-color-background-active: #357f7c;
    --slds-c-button-brand-color-border-active: #357f7c;
}

/* Modal background */
lightning-modal-body {
    padding: 0.75rem;
    background-color: #f3f2f2;
}

/* Sections */
.slds-section {
    background: var(--section-bg);
    border: 1px solid var(--section-border);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

/* Section header */
.slds-section__title {
    background: var(--section-header-bg);
    padding: 0.6rem 0.75rem;
    border-bottom: 1px solid var(--section-border);
    font-weight: 600;
    font-size: 0.9rem;
}

.form-row {
    margin-bottom: 0.75rem;
}


/* Sub titles */
.slds-text-title_bold {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #3e3e3c;
    margin-bottom: 0.4rem;
}

/* Footer */
lightning-modal-footer {
    border-top: 1px solid var(--section-border);
    padding: 0.75rem;
    background: #ffffff;
}

lightning-button {
    margin-left: 0.5rem;
}


.slds-button_brand {
    background: #45A6A2;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }
}
